<% if @next_flashcard.id < 4 %>

  <div class="flashcard-container">
    <div class="flashcard-category">
      <img src="images/rails-logo.svg" alt="Rails logo" width="">
    </div>
    <div id="question">
      <%= @flashcard.question %>
    </div>
    <textarea class="user-answer" rows="4" placeholder="Enter your answer here"></textarea>
    <button class="tablinks" onclick="openPage(event, 'Answer')"> Click for Answer </button>

    <div id="Answer" class="tabcontent">
      <h2 style="text-align: center;"> Answer </h2>
      <div id="question"> <%= @flashcard.answer %>
      </div>
      <%= link_to "Go to next Question", flashcard_path(@next_flashcard), class: "btn btn-info btn-xs" %>
    </div>
  </div>

  <% else %>

      <h2 style="text-align: "> Well Done you have passed </h2>
      <a href="https://facebook.com" target="_blank" style="text-align: center;"> <h2>Download Hold That Thought Crome Extension</h2> </a>

<% end %>

<script>
function openPage(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

  document.getElementById("defaultOpen").click();
</script>
