.row {
  height: 600px;
}

.column-left {
  float: left;
  width: 50%;
  padding-left: 50px;
  padding-top: 50px;
  border-right: 2px solid white;
}

.column-right {
  float: right;
  width: 50%;
  padding-left: 50px;
  padding-top: 50px;
}

.row h1 {
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 41px;
display: flex;
align-items: center;
}

.header {
height: 100px;
}

.top-right {
  height: 50%;
}

.bottom-right {
  height: 50%;
}

.top-left {
  height: 50%;
}

.bottom-left {
  height: 50%;
}
