
<h2 style="text-align: center; margin-top: 20px;"> Hi <%= @user.first_name %> this is the page that you will download the Chrome extension </h2>

<div class="container" style="text-align: center; margin-top: 40px">
<img src="https://i0.wp.com/innovation-village.com/wp-content/uploads/2019/03/Chrome-Extensions.png?fit=684%2C367&ssl=1"/>
</div>

<div style="margin-top: 30px; text-align: center;">
  <a href="https://chrome.google.com/webstore/category/extensions" target="_blank"> Download Crome Extension </a>
</div>
