<div class="container" style="text-align: center; margin-top: 40px">
        <img src="https://www.darrelwilson.com/wp-content/uploads/2018/11/crome-extention.jpg"/ style="width: 800px">
        </div>
        <div style="margin-top: 50px;">
        <a href="https://chrome.google.com/webstore/category/extensions" target="_blank" style="text-align: center; color: black "> <h2>Download Hold That Thought Crome Extension</h2> </a>
        </div>
