<h1 style="text-align: center; margin-top: 20px; font-family: Noto Serif JP;">  Hi <%= @user.first_name %> here are your blocked websites </h1>


<div class= "card-container">
<div class="card-product">
  <img src="/assets/facebook.png" />
  <div class="card-product-infos">
    <h2>Facebook</h2>
  </div>
</div>

<div class="card-product">
  <img src="/assets/twitter.png" />
  <div class="card-product-infos">
    <h2>Twitter</h2>
  </div>
</div>

<div class="card-product">
  <img src="/assets/bbcnews.png" />
  <div class="card-product-infos">
    <h2>BBC News</h2>
  </div>
</div>

<div class="card-product">
  <img src="/assets/instagram.png" />
  <div class="card-product-infos">
    <h2>Instgram</h2>
  </div>
</div>
</div>

<h1 style="text-align: center; margin-top: 20px; font-family: Noto Serif JP;">  Add any of the following websites </h1>

<div class= "card-container">
<div class="card-product">
  <img src="/assets/facebook.png" />
  <div class="card-product-infos">
    <h2>Facebook</h2>
  </div>
</div>

<div class="card-product">
  <img src="/assets/twitter.png" />
  <div class="card-product-infos">
    <h2>Twitter</h2>
  </div>
</div>

<div class="card-product">
  <img src="/assets/bbcnews.png" />
  <div class="card-product-infos">
    <h2>BBC News</h2>
  </div>
</div>

<div class="card-product">
  <img src="/assets/instagram.png" />
  <div class="card-product-infos">
    <h2>Instgram</h2>
  </div>
</div>
</div>

<div style="text-align: center; margin-bottom: 30px;">
  <%= link_to "Save","/dashboard", class: "btn btn-info btn-xs" %>
</div>
