<div class="signup-page-container">
  <div class="signup-form-container">
    <h1 class="page-title">Creating an account...</h1>

      <input type="hidden" id="user_email" value='<%= @user.email %>'>

      <div class="signup-learning-options">
        <h3 class="page-subtitle">Select your first learning topic</h3>
        <div class="form-option learning">
          <p>Le Wagon</p>
        </div>
        <div class="form-option learning">
          <p>Duolingo</p>
        </div>
        <div class="form-option learning">
          <p>Elevate</p>
        </div>
      </div>

      <div class="signup-blacklist-options">
        <h3 class="page-subtitle">Select some websites you'd like to blacklist</h3>
        <div class="form-option blacklist">
          <p>Facebook.com</p>
        </div>
        <div class="form-option blacklist">
          <p>Instagram.com</p>
        </div>
        <div class="form-option blacklist">
          <p>Twitter.com</p>
        </div>
      </div>

      <div class="signup-btn-container">
        <a href="#" class="btn-login btn-js"><p>Sign up</p></a>
      </div>

  </div>
</div>
