<div class="dashboard-page-container">
  <div class="dashboard-container">

    <h1 class="page-title">Your dashboard...</h1>

    <h3 class="page-subtitle">Your blacklisted websites</h3>

    <div class="blacklisted-websites-container">
      <% @user.blacklists.each do |blacklist| %>
        <div class="blacklist-card">
          <p><%= blacklist.website_name.capitalize() %></p>

          <!-- Needs to delete BlacklistUser not Blacklist! -->

          <%= link_to blacklist_users_destroy_path(@user, blacklist), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%#= link_to blacklist_path(blacklist),method: :delete, data: { confirm: 'Are you sure?' } do %>

            <i class="fas fa-minus-circle"></i>
          <% end %>
        </div>
      <% end %>

      <div class="dashboard-btn-container">
        <a href="/blockedwebsite" class="btn-ghost">
          <p>Add another website</p>
          <i class="fas fa-plus-circle"></i>
        </a>
      </div>
    </div>

    <h3 class="page-subtitle">Your learning topics</h3>

    <div class="learning-topics-container">
      <div class="learning-topic-card">
        <p><%= @learning_topic %></p>
        <i class="fas fa-minus-circle"></i>
      </div>

      <div class="dashboard-btn-container">
        <a href="/blockedwebsite" class="btn-ghost">
          <p>Add another learning topic</p>
          <i class="fas fa-plus-circle"></i>
        </a>
      </div>
    </div>
  </div>
</div>

