<div class="row">
  <div class="column-left">
    <div class="top-left">
      <div class="header">
      <h1> Your Blocked Websites </h1>
      </div>
      <div class="sub-header">
      <h2> Currently Blocking </h2>
      </div>
      <div class= "card-container-dashboard">


      <% @user.blacklists.each do |blacklist| %>
      <div class="blacklist-website">
      <p class="website"> <%= image_tag blacklist.image_url, alt: "alttext" %> <%= blacklist.name %>  </p>
      </div>
      <% end %>
      </div>
    </div>

    <div class="bottom-left">
      <h1> Add a new website </h1>
    </div>
  </div>

  <div class="column-right">
    <div class="top-right">
      <div class="header">
      <h1> Your Learning topics </h1>
      </div>
      <div class="header">
      <h2> Currently Studying </h2>
      </div>
      <div class= "card-container-dashboard">

      </div>
    </div>
    <div class="bottom-right">
      <h1> Other topics: </h1>
    </div>
  </div>
</div>

