<div class="row">
  <div class="column">
    <div class="title">
      <h1> <%= @user.first_name %>'s Dashboard </h1>
    </div>

    <div class="sub-title">
      <h2> Your blacklisted websites </h2>
    </div>

    <div class="blacklist">
      <div class="blocked-websites">
        <% @user.blacklists.each do |blacklist| %>
        <div class="website-card">
          <p> <%= blacklist.name %> </p>
          <%= link_to blacklist_path(blacklist),method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-minus-circle"></i>
          <% end %>
        </div>
        <% end %>
      </div>

      <div style="margin-top: 20px; text-align: right;">
        <a class= "btn btn-ghost" href="/blockedwebsite"> Add another website </a>
      </div>

    </div>

    <div class="learning">
      <div class="sub-title">
      <h2> Your learning topics </h2>
      </div>
        <div class="blocked-websites">
        <div class="website-card">
          <p> Le Wagon </p>
          <a> Remove website </a>
        </div>
      </div>
      <div style="margin-top: 20px; text-align: right;">
        <a class= "btn btn-ghost" href="#"> Add another learning topic </a>
      </div>
    </div>



  </div>
</div>

