<h2 style="text-align: center; margin-top: 20px;">  Hi <%= @user.first_name %> this is your dashboard </h2>

<div class="dashboard-layout">
  <main class="dashboard-layout-main">
    <aside>



    </aside>
  </main>
</div>
