<div class="row">
  <div class="column-left">
    <div class="top-right">
      <div class="header">
      <h1> Your Blocked Websites </h1>
      </div>
      <div class="header">
      <h1> Currently Blocking </h1>
      </div>
    </div>
    <div class="bottom-right">
      <h1> Add a new website </h1>
    </div>
  </div>

  <div class="column-right">
    <div class="top-left">
      <div class="header">
      <h1> Your Learning topics </h1>
      </div>
      <div class="header">
      <h1> Currently Studying </h1>
      </div>
    </div>
    <div class="bottom-left">
      <h1> Other topics: </h1>
    </div>
  </div>
</div>

