<div class="jumbotron jumbotron-fluid">
  <%= video_tag "homepagevid.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false, :id => 'jumbo-video-home', class: "tesben" %>
</div>

<!-- test -->

<header>
  <div class="intro-text">
      <h1 style= 'font-family: Noto Serif JP;'>Hold That Thought</h1>
      <h1 style= 'font-family: Noto Serif JP;'> Waste time, productively </h1>
  </div>
</header>



<style>
  .tesben {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}</style>


