
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container m-5">
    <div class="row justify-content-left p-5" id="title-text">
      <h1 style= 'font-family: Noto Serif JP'>What do you want to learn?</h1>
    </div>
  </div>
</div>

<div class= "card-container">
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  <div class="card-product-infos">
    <h2>Le Wagon</h2>
    <p>Change your life, learn to code</p>
  </div>
</div>

<div class="card-product">
  <img src="assets/duo.png" />
  <div class="card-product-infos">
    <h2>Duo Lingo</h2>
    <p>The worlds best way to learn a language</p>
  </div>
</div>

<div class="card-product">
  <img src="assets/elevate.png" />
  <div class="card-product-infos">
    <h2>Elevate</h2>
    <p>Stay sharp, build confidence, and boost productivity</p>
  </div>
</div>
</div>

<div class="row justify-content-center p-5">
  <h1 style= 'font-family: Noto Serif JP'>What websites distract you?</h1>
</div>

<div class= "card-container">
<div class="card-product">
  <img src="assets/facebook.png" />
  <div class="card-product-infos">
    <h2>Facebook</h2>
  </div>
</div>

<div class="card-product">
  <img src="assets/twitter.png" />
  <div class="card-product-infos">
    <h2>Twitter</h2>
  </div>
</div>

<div class="card-product">
  <img src="assets/bbcnews.png" />
  <div class="card-product-infos">
    <h2>BBC News</h2>
  </div>
</div>

<div class="card-product">
  <img src="assets/instagram.png" />
  <div class="card-product-infos">
    <h2>Instgram</h2>
  </div>
</div>
</div>
