<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<div>
  <a class="navbar-brand" href="#">
    <%= image_tag "pause_pink.png", alt: "alttext" %>
  </a>
   <a style= 'font-family: Overpass, sans-serif; font-size: 20px; text-decoration: none;'class="holdthatthought" href="#">hold that thought</a>
</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class= "btn btn-ghost" href="">Sign In</a>
      </li>
    </ul>
  </div>
</div>

<!-- test -->


<div class="jumbotron jumbotron-fluid">
  <div class ="overlay">
  <%= video_tag "homepagevid.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false, :id => 'jumbo-video-home', class: "tesben" %>
  </div>
</div>

<header>
  <div class="intro-text">
 <h1 style= 'font-family: Overpass, sans-serif; font-size: 42px;'> waste time, productively </h1>
  </div>
<div>
  <a class= "btn btn-ghost" href="" style= "font-size: 26px;">Get Started</a>
</div>
</header>


