<div class="jumbotron jumbotron-fluid">
  <div class ="overlay">
  <%= video_tag "homepagevid.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false, :id => 'jumbo-video-home', class: "tesben" %>
  </div>
</div>

<header>
  <div class="intro-text">
   <h1 style="font-size: 50px; padding-bottom: 50px;"> Waste your time productively </h1>
    <a class= "btn btn-ghost" href="/users/sign_up">Get Started</a>
  </div>
</header>


