
<div style= "height: 60px;">
</div>

<header class = "video d-flex align-items-center justify-content-center">
  <div class="jumbotron jumbotron-fluid">
    <div class ="overlay">
      <%= video_tag "homepagevid.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false, :id => 'jumbo-video-home', class: "tesben" %>
    </div>
  </div>
  <div class="intro-text">
   <h1 style="font-size: 50px; margin-bottom: 50px; margin-top: 350px;"> Waste your time productively </h1>
    <% if user_signed_in? %>
      <a class= "btn btn-ghost" href="/dashboard">Dashboard</a>
      <a class= "btn btn-ghost" href="https://github.com/jonasvanbuel/holdthatthought-extension" target='_blank'>Download</a>
    <% else %>
      <a class= "btn btn-ghost" href="/users/sign_up">Get Started</a>
    <% end %>
  </div>
</header>

  <div class = "container htt d-flex align-items-flex-start pt-40">
  <div class = "container extimg">
    <%= image_tag "illustration-tasks.jpg", alt: "alttext" %>
  </div>
    <div class = "textbox" style = "padding: 100px; margin-top: 9g0px;">
      <h2>Hold That Thought... is a browser extension to remind you to spend a few moments learning a topic of your choice, before allowing you access to the websites you're seeking to avoid</h2>
      <h2 style = "padding-top: 10px; padding-bottom: 100px;">Simply login, manage your list of blacklisted websites and leaning topics online, download our browser extension, and let us do the rest!</h2>
      <% if user_signed_in? %>
      <a class= "btn btn-ghost" href="https://github.com/jonasvanbuel/holdthatthought-extension" target='_blank'> Download</a>
      <% else %>
      <a class= "btn btn-ghost" href="/users/sign_up">Get Started</a>
      <% end %>
     </div>
  </div>



<!--
<script>

  const bgChanger = () => {
 if(window.scrollY > window.innerHeight / 3 ) {
  document.querySelector(".textbox").classList.remove("d-none");
  document.querySelector(".video").classList.add("d-none")
 } else {
  document.querySelector(".video").classList.remove("d-none");
  document.querySelector(".textbox").classList.add("d-none");

 }
}

window.addEventListener("scroll", bgChanger);
</script> -->

<!-- window.innerHeight / 3 -->
