<h2 style="text-align: center; margin-top: 20px"> Hold That Thought Payment Option </h2>

<div style="text-align: center;">
<div class="cards">
  <div class="card-category" style="background-color: white;">
    <h2 style="margin-top: 30px;">Free Plan</h2>
    <div class="payment">
    <p> Websites Blocked: 2 </p>
    <p> Flashcards: 100 </p>
    <p> Learning Topics: 2 </p>
    <p style="margin-bottom: 20px;"> Cost: Free </p>
    <%= link_to "Use Free Plan", dashboard_path, class: "btn btn-info btn-xs" %>
    </div>

  </div>

  <div class="card-category" style="background-color: white;">
    <h2 style="margin-top: 30px;"> Medium Plan</h2>
    <div class="payment">
    <p> Websites Blocked: 5 </p>
    <p> Flashcards: 1000 </p>
    <p> Learning Topics: 5 </p>
    <p style="margin-bottom: 20px;"> Cost: £0.99 per month </p>
    <%= link_to "Use Medium Plan", dashboard_path, class: "btn btn-info btn-xs" %>
    </div>
  </div>

  <div class="card-category" style="background-color: white;">
    <h2 style="margin-top: 30px;"> Full Plan</h2>
    <div class="payment">
    <p> Websites Blocked: Unlimited </p>
    <p> Flashcards: Unlimited </p>
    <p> Learning Topics: Unlimited </p>
    <p style="margin-bottom: 20px;"> Cost: £4.99 per month </p>
    <%= link_to "Use Full Plan", dashboard_path, class: "btn btn-info btn-xs" %>
    </div>
  </div>
</div>
</div>
