.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: grey;
}
