.signup-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 239, 239, 1.00);
}

.signup-form-container {
  width: 500px;
  margin-top: 130px;
  margin-bottom: 100px;
}

h1.page-title {
  font-family: Bellota;
  font-size: 40px;
  font-weight: bold;
  color: rgba(25, 41, 101, 0.8);
  margin-bottom: 40px;
  text-align: center;
}

h3.page-subtitle {
  font-family: Bellota;
  font-size: 24px;
  font-weight: normal;
  color: rgba(25, 41, 101, 1);
  margin-top: 40px;
  margin-bottom: 32px;
  text-align: center;
}

// .signup-user-details {
// }

.form-option {
  background-color: white;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  font-family: Open Sans;
  font-size: 16px;
  border-radius: 18px;
  box-shadow: 3px 4px 8px rgba(188, 207, 255, 0.5);
  cursor: pointer;
}

.form-option > p {
  pointer-events: none;
}

.form-selected {
  font-weight: 600;
  background-color: rgba(188, 207, 255, 1.00);
  box-shadow: 3px 4px 0px rgba(250, 175, 255, 1.00);
}

.signup-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}

